.miniWeatherIcon{
    height: 40px;
    width: 40px;
}
.miniWeatherTimeText{
    margin-bottom: 4px;
    font-size: 12px;
}

.miniWeatherTempText{
    margin-top: 0px;
    font-size: 12px;
}

.flex{
    display: inline-block;
    margin-inline: 16px;
}
