/* WeatherIconDisplay.module.css */

.weatherContainer {
    display: flex;
    align-items: center;
}

.temperature {
    margin-top: 20px;
    margin-left: 12px; /* Adjust margin as needed */
    font-size: 36px;
}
