.small-image {
    height: 60px;
	width: 60px;
	justify-content: 'center';
	align-items: 'center';
}
.small-text{
    font-size: 10;
    color: #fff;
    text-align:'center';
    align-items: 'center';
}

.forecastContainer{
    border-bottom-width: 3px;
	border-color:#fff;
}
.forecast-image{
    height: 200;
    width: 200;
    justify-content: 'center';
    align-items: 'center'
};
.forecast-text{
    font-size: 24;
    color: '#fff';
    text-align:'center';
    align-items: 'center';
}