body{
    background-color: #615d5d;
}

.center{
    /* margin-top: 160px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.blkText{
    color: black !important;
    }

.blueText{
    color: blue !important;
    }