.center{
    /* margin-top: 160px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.left{
    /* margin-top: 160px; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:baseline;
    height: 70vh;
    margin-left: 5vh;
}

.blkText{
    color: black !important;
    }